In [1]:
import seaborn as sns
import pandas as pd

In [2]:
data = pd.read_csv('CarBuyers.csv')

In [3]:
data.head()

,Manufacturer,Model,Price,Transmission,Power,Engine CC,Fuel,Male,Female,Unknown,Total
0,Ford,Focus,30.619322,5.966102,94.033898,1497.169492,petrol,814172,422731,"56,487",1293390
1,Ford,Fiesta,18.532143,5.714286,68.571429,1166.142857,petrol,554879,631666,"54,057",1240602
2,Volkswagen,Golf,31.242154,6.164835,89.461538,1537.406593,petrol,483216,310604,"47,563",841383
3,Renault,Clio,22.100000,5.615385,75.576923,1219.653846,petrol,241287,312556,"28,004",581847
4,BMW,320i,47.848370,6.444444,126.111111,1995.777778,petrol,408016,115843,"29,125",552984

In [20]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6092 entries, 0 to 6091
Data columns (total 11 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Manufacturer  6092 non-null   object
 1   Model         6092 non-null   object
 2   Price         6092 non-null   float64
 3   Transmission  6092 non-null   float64
 4   Power         6092 non-null   float64
 5   Engine CC     6092 non-null   float64
 6   Fuel          6092 non-null   object
 7   Male          6092 non-null   object
 8   Female        6092 non-null   object
 9   Unknown       6092 non-null   object
 10  Total         6092 non-null   object
dtypes: float64(4), object(7)
memory usage: 523.7+ KB

In [7]:
import scipy.stats as st
confidence = 0.9
st.t.interval(confidence, len(data)-1, loc=data['Power'].mean(), scale=st.sem(data['Power']))

(110.05360070871237, 112.90416215605225)

In [8]:
confidence = 0.95
st.t.interval(confidence, len(data)-1, loc=data['Power'].mean(), scale=st.sem(data['Power']))

(109.78047550462031, 113.1772873601443)

In [9]:
confidence = 0.99
st.t.interval(confidence, len(data)-1, loc=data['Power'].mean(), scale=st.sem(data['Power']))

(109.24654169671389, 113.71122116805073)

In [10]:
confidence = 0.9999
st.t.interval(confidence, len(data)-1, loc=data['Power'].mean(), scale=st.sem(data['Power']))

(108.10592688098973, 114.85183598377489)

Ik zie dat bij een confidence van 99,99% dat de interval wel toegenomen is ten opzichte van de 90%. Dan kun je beter zeggen dat met een zekerheid van 90% alle verkochte auto's een vermogen heeft tussen de 110pk en ongeveer 113pk dan de 00,01% want er zijn behoorlijk wat uitschieters die je dan niet echt meeneemt.

In [11]:
confidence = 0.9
st.t.interval(confidence, len(data)-1, loc=data['Price'].mean(), scale=st.sem(data['Price']))

(40.14759130812931, 42.31255570503667)

In [12]:
confidence = 0.95
st.t.interval(confidence, len(data)-1, loc=data['Price'].mean(), scale=st.sem(data['Price']))

(39.940156262900175, 42.519990750265805)

In [13]:
confidence = 0.99
st.t.interval(confidence, len(data)-1, loc=data['Price'].mean(), scale=st.sem(data['Price']))

(39.53464047038805, 42.92550654277793)

In [14]:
confidence = 0.9999
st.t.interval(confidence, len(data)-1, loc=data['Price'].mean(), scale=st.sem(data['Price']))

(38.668358331852744, 43.791788681313236)

Ik zie dat bij de prijs hetzelfde gebeurd als bij de interval van Power.

In [15]:
data[:10]

,Manufacturer,Model,Price,Transmission,Power,Engine CC,Fuel,Male,Female,Unknown,Total
0,Ford,Focus,30.619322,5.966102,94.033898,1497.169492,petrol,814172,422731,"56,487",1293390
1,Ford,Fiesta,18.532143,5.714286,68.571429,1166.142857,petrol,554879,631666,"54,057",1240602
2,Volkswagen,Golf,31.242154,6.164835,89.461538,1537.406593,petrol,483216,310604,"47,563",841383
3,Renault,Clio,22.100000,5.615385,75.576923,1219.653846,petrol,241287,312556,"28,004",581847
4,BMW,320i,47.848370,6.444444,126.111111,1995.777778,petrol,408016,115843,"29,125",552984
5,Volkswagen,Polo,18.192500,5.074074,60.962963,1408.055556,petrol,216333,299110,"31,701",547144
6,Peugeot,206,20.033750,4.833333,71.333333,1631.500000,petrol,178698,250614,"26,135",455447
7,Ford,Mondeo,39.973750,1.750000,130.250000,1998.500000,petrol,357452,"69,603","16,550",443605
8,Nissan,Micra,20.377609,4.869565,67.956522,1279.695652,petrol,143218,253000,"26,619",422837
9,Honda,Civic,29.942625,4.500000,106.225000,1480.575000,petrol,242188,132958,"21,042",396188

In [29]:
dataPower=data['Power']

In [30]:
dataPower = dataPower[:609]

In [31]:
dataPower

0       94.033898
1       68.571429
2       89.461538
3       75.576923
4      126.111111
          ...
604    120.333333
605     51.375000
606     50.875000
607    235.000000
608     55.400000
Name: Power, Length: 609, dtype: float64

In [33]:
confidence = 0.95
st.t.interval(confidence, len(dataPower)-1, loc=dataPower.mean(), scale=st.sem(dataPower))

(110.17797584316178, 120.71274162974477)

Als ik alleen de eerste 10% van alle rows selecteer zie je dat het interval van 110-113 naar 110-120 is gegaan wat best wel veel verschil is. Deze interval is dus niet representatief voor de hele tabel.

In [36]:
dataPrice=data['Price']

In [37]:
dataPrice = dataPrice[:609]

In [38]:
confidence = 0.95
st.t.interval(confidence, len(dataPrice)-1, loc=dataPrice.mean(), scale=st.sem(dataPrice))

(39.26796042250797, 46.51046440273991)

Bij de prijs is het interval minder groot geworden als bij Power maar alsnog is er wel zeker een significant verschil. Ook deze is niet representatief voor de rest van alle waardes.