In [1]:
import pandas as pd
import seaborn as sns

In [2]:
ps = sns.load_dataset('penguins')
ps.head()

,species,island,bill_length_mm,bill_depth_mm,flipper_length_mm,body_mass_g,sex
0,Adelie,Torgersen,39.1,18.7,181.0,3750.0,Male
1,Adelie,Torgersen,39.5,17.4,186.0,3800.0,Female
2,Adelie,Torgersen,40.3,18.0,195.0,3250.0,Female
3,Adelie,Torgersen,NaN,NaN,NaN,NaN,NaN
4,Adelie,Torgersen,36.7,19.3,193.0,3450.0,Female

In [3]:
ps= ps.dropna()

In [4]:
ps.head()

,species,island,bill_length_mm,bill_depth_mm,flipper_length_mm,body_mass_g,sex
0,Adelie,Torgersen,39.1,18.7,181.0,3750.0,Male
1,Adelie,Torgersen,39.5,17.4,186.0,3800.0,Female
2,Adelie,Torgersen,40.3,18.0,195.0,3250.0,Female
4,Adelie,Torgersen,36.7,19.3,193.0,3450.0,Female
5,Adelie,Torgersen,39.3,20.6,190.0,3650.0,Male

In [5]:
from sklearn.tree import DecisionTreeClassifier

In [6]:
features= ['bill_length_mm']
dt = DecisionTreeClassifier(max_depth = 1) # Increase max_depth to see effect in the plot
dt.fit(ps[features], ps['species'])

DecisionTreeClassifier(max_depth=1)

In [8]:
predictions = dt.predict(ps[features])

In [9]:
def calculate_accuracy(predictions, actuals):
    if(len(predictions) != len(actuals)):
        raise Exception("The amount of predictions did not equal the amount of actuals")
    
    return (predictions == actuals).sum() / len(actuals)

In [11]:
calculate_accuracy(predictions, ps.species)

0.7507507507507507

In [12]:
from sklearn.model_selection import train_test_split

In [14]:
ps_train, ps_test = train_test_split(ps, test_size=0.3, stratify=ps['species'], random_state=42)
print(ps_train.shape, ps_test.shape)

(233, 7) (100, 7)

In [18]:
features= ['bill_length_mm']
dt_classification = DecisionTreeClassifier(max_depth = 1) # Increase max_depth to see effect in the plot
dt_classification.fit(ps_train[features], ps_train['species'])

DecisionTreeClassifier(max_depth=1)

In [19]:
predictionsOnTrainset = dt_classification.predict(ps_train[features])
predictionsOnTestset = dt_classification.predict(ps_test[features])

accuracyTrain = calculate_accuracy(predictionsOnTrainset, ps_train.species)
accuracyTest = calculate_accuracy(predictionsOnTestset, ps_test.species)

print("Accuracy on training set " + str(accuracyTrain))
print("Accuracy on test set " + str(accuracyTest))

Accuracy on training set 0.759656652360515
Accuracy on test set 0.73